
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/*navigation*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background : white;
    padding: 10px;
    z-index: 50;
}
.bar_icon{
    font-size: 32px;
}
/* hero section*/
.hero{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.hero_right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color: green;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.hero_right h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
.hero_right p{
    color: gray;
    font-size: 32px;
}
button{
    border: none;
    padding: 12px 15px;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.explorebtn{
    background-color: #ffc806;
    align-self: flex-start;
}
.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.feature img{
    width: 75px;
}
.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5);

}
.divider{
   border: 1px solid #ccc;
   margin: 20px 0;
}
/*menu section*/
.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.grid{
    display: grid;
    gap: 10px;
    grid-template-areas: "I1 I1 I2 I3" 
                         "I1 I1 I2 I7"
                         "I4 I5 I6 I7";
}
.grid-i{
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;

}
.grid-i:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
.menu .tag{
    align-self: center;
}
/*footer section*/
footer{
    background-color: #fff0db;
}
.footer_container{
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.link_lists h3{
  color: gray;
  margin-bottom: 10px;
}
.link_lists ul{
    list-style: none;
}
.link_lists li{
    font-size: 16px;
    margin-bottom: 5px;
}
.news_letter input{
    padding: 5px 40px;
}
.icon_container{
    display: flex;
    gap: 15px;
    font-size: 32px;
}
.news_letter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}




@media (max-width:960px) {
.hero{
    flex-direction: column;
}
.hero_left{
    display: flex;
    justify-content: center;

}
.hero_left img{
    width: 90%;
}
.hero_right{
    gap: 13px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero_right .tag{
    margin: 0 auto;
}
.hero_right .explorebtn{
    margin: 0 auto;
}
.hero_right h1{
    font-size: 40px;
}
.hero_right p{
    font-size: 25px;
}
.features{
    flex-direction: column;
    margin-top: 25px;
}
.feature img{
    width: 120px;
}
.feature h1{
    font-size: 35px;
}
.feature p{
    font-size: 20px;
}
.feature{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.grid{
    padding: 10px;
}
.grid-i{
    border-radius: 0;
}
.footer_container{
    flex-direction: column;
}
.footer_logo img{
    width: 200px;
}
.link_lists h3{
     font-size: 20px;
}
.link_lists li{
    font-size: 10px;
}
.news_letter h3{
    font-size: 20px;
}
}
















